body{
    background-image: url("https://images.pexels.com/photos/558478/pexels-photo-558478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: 0px -200px;
    color:#fff;
}

.navbar{
    opacity:100;
    z-index:1000;
}

.navbar-inner{
    background-color:transparent;
}

.background{
    background-size:contain;
    background-attachment:local;
    min-height:700px;

}
.home-inner{
    padding-top: 150px;
}


.card-form{
    opacity:0.8;
}

.fa{
    color:#008ed6;
    background:#fff;
    padding:4px;
    border-radius:5px;
    font-size:30px;
}

#two{
    background-color:#0c0c0c;
}

.fa-newspaper{
    font-size:100px;
    color:#f70000;
}
.fa-columns{
    font-size:100px;
    color:#f70000;
}
.fa-cloudversify{
    font-size:100px;
    color:#f70000;
}

#laptop{
    background:white;
}

.btn-outline-danger{
        color:#f70000;

}

.laptop{
 width:370px;
 height:250px;
}

.pic{
    width:250px;
    height:160px;
    
}


.red{
            color:white
}


